
.navbar {
  z-index: 10;
  width: 100%;
}
.search-bar {
  position: absolute;
  z-index: 10;
  width: 100%;
}
.searchbar {
 width: 80%;

}
.aa{
margin: auto;
float: left;
width: 25%;
}

.slider-home {
  opacity: 0.5;
  filter: alpha(opacity=50); /* sá»­ dá»¥ng cho IE8 trá»Ÿ vá»� trÆ°á»›c */
  height: 600px;
}
.textshow{
  margin: auto;
}
.text-bar {
  position: absolute;
  z-index: 10;
  vertical-align: auto;
  margin: auto;
  text-align: center;
}

.container-fluid {
  background-color: white;
}
.jumbotron {
  background-color: #000;
}
.text-bar h1 {
  text-align: center;
  font-size: 400%;
  color: white;
  font-size: 50px;
}
.text-bar h3 {
  text-align: center;
  font-size: 150%;
  color: white;
  font-size: 23px;
}

.container-fluid h1 {
  text-align: center;
  font-size: 400%;
  padding-top: 5rem;
}
.container-fluid h3 {
  text-align: center;
  font-size: 150%;
}
input:focus::-webkit-input-placeholder {
  color: white;
}
.form-control {
  border: 1px solid white;
  color: #000000;
}
.navbar li a {
  color: white !important;
}
.navbar li a:hover {
  color: rgb(114, 101, 231) !important;
}
.carousel-inner {
  width: 100%;
}
.fa-search {
  color: red;
}
.search-bar {
  text-align: center;
}
.dropdown :hover {
  color: rgb(77, 21, 130);
}
.jumbotron h1 {
  text-align: center;
  font-size: 400%;
  padding: 1rem;
}
.jumbotron h3 {
  text-align: center;
  font-size: 150%;
}

.canle {
  margin: auto;
  margin-top: 4%;
  border-radius: 5%;

}
.trongoc {
  width: 100%;
  height: 240px;
}
.canle :hover {
  opacity: 0.8;
}
.pad{

  margin: 10%;
}


.tieude {
  padding: 5rem;
}
/*---------------------*/
.stars {
  margin-top: 55%;
}
a.star {
  font-size: 24px;
  color: #f0f1f4;
  cursor: pointer;
  line-height: 1;
  transition: all 0.1s ease;
}
/* .fa-star { */
/*   color: rgb(181, 181, 181) !important; */
/* } */
/*-----button top---*/
.fa-chevron-up {
  color: #343a40;
}
.btn-top {
  text-align: center;
  bottom: 20px;
  height: 50px;
  padding: 0;
  position: fixed;
  right: 20px;
  width: 50px;
  font-size: 40px;
}
/*--thá»£ chá»¥p áº£nh--*/
.bgimg{
     margin: auto;
}

.bgimg1{

  margin-top: 5%;
  margin-bottom: 4%;
  border-radius: 5%;
  width: 100%;
  
}
.bgphotographer{
  padding-top: 5%;
  padding-bottom: 5%;
}

/*----------------ná»™i dung pháº§n thá»ƒ loáº¡i-------------*/
.text-theloai {
  margin-top: 10%;
  position: absolute;
  z-index: 10;
}
.khoangcach{
    padding: 50px;
}
.divtheloai{
  border-radius: 5% ;
}
.vitritext{
  text-align: left;
  font-size: 25px;
  color: white;
}
.vitribtn{
  margin: auto;
}
/*-------------demo hien thi thong tin khi hover-*/
.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}
.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}
.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}
.hover-noidung {
  position: relative;
  z-index: 99;
}
.hover-1 {
  color: #fff;
}
.hover-1 img {
  width: 105%;
  position: absolute;
  top: 0;
  left: -5%;
  transition: all 0.3s;
}
.hover-1-noidung {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: all 0.4s;
}
.hover-1 .hover-overlay {
  background: rgba(0, 0, 0, 0.5);
}
.hover-1-trichdan {
  transform: translateY(0.5rem);
  transition: all 0.4s;
  opacity: 0;
}
.w-100{
  object-fit: cover;
}

.hover-1:hover .hover-1-noidung {
  bottom: 2rem;
}
.hover-1:hover .hover-1-trichdan {
  opacity: 1;
  transform: none;
}
.hover-1:hover img {
  left: 0;
}
.hover-1:hover .hover-overlay {
  opacity: 0;
}
.side-1{
    position: relative;
    left: 70%;
}

.xxx{
	position: absolute;
}
.scheduledate {
    padding-left: 10%;
}


/* nổi bật */
.noibat{
	position: absolute;
	z-index: 999;
	margin-top: -143px;
	margin-left: 96px;
	height: 75px;
	width: 75px;
	box-sizing: border-box;
}
.noibat .noibat1{
	position: absolute;
	background: #00b9f2;;
	transform: rotate(45deg);
	text-align: center;
	font-size: 12px;
	box-sizing: border-box;
	width: 100%;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: white;
}
.noibat .noibat1:before {
	content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #3273dc;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #3273dc;
    display: block;
}
.noibat .noibat1:after {
	content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #3273dc;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #3273dc; 
    display: block;
}

/* bài viết */
.baiviet_tc {
	width: 250px;
	height: 274px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	font-size: 16px;
	margin: 0px 20px 20px 0px;
}

.baiviet_tc:hover .baiviet_tc1 span {
	color: #1a75ff;
}

.baiviet_tc:hover .baiviet_tc1 img {
	opacity: 0.5;
}

.baiviet_tc .baiviet_tc1 img {
	opacity: 1;
}

/* modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
 overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;

}
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}