
.navbar {
  z-index: 10;
  width: 100%;
}
.search-bar {
  position: absolute;
  z-index: 10;
  width: 100%;
}
.searchbar {
 width: 80%;

}
.aa{
margin: auto;
float: left;
width: 25%;
}

.slider-home {
  opacity: 0.5;
  filter: alpha(opacity=50); /* sử dụng cho IE8 trở về trước */
  height: 600px;
}
.textshow{
  margin: auto;
}
.text-bar {
  position: absolute;
  z-index: 10;
  vertical-align: auto;
  margin: auto;
  text-align: center;
}

.container-fluid {
  background-color: white;
}
.jumbotron {
  background-color: #000;
}
.text-bar h1 {
  text-align: center;
  font-size: 400%;
  text-shadow: 10px 10px 30px #000;
  color: white;
  font-size: 50px;
}
.text-bar h3 {
  text-align: center;
  font-size: 150%;
  text-shadow: 10px 10px 30px #000;
  color: white;
  font-size: 23px;
}

.container-fluid h1 {
  padding: 5rem;
  text-align: center;
  font-size: 400%;
  text-shadow: 10px 10px 30px #000;
}
.container-fluid h3 {
  text-align: center;
  font-size: 150%;
  text-shadow: 10px 10px 30px #000;
}
input:focus::-webkit-input-placeholder {
  color: white;
}
.form-control {
  border: 1px solid white;
  color: #000000;
}
.navbar li a {
  color: white !important;
}
.navbar li a:hover {
  color: rgb(114, 101, 231) !important;
}
.carousel-inner {
  width: 100%;
}
.fa-search {
  color: red;
}
.search-bar {
  text-align: center;
}
.dropdown :hover {
  color: rgb(77, 21, 130);
}
.jumbotron h1 {
  text-align: center;
  font-size: 400%;
  text-shadow: 10px 10px 30px #000;
  padding: 1rem;
}
.jumbotron h3 {
  text-align: center;
  font-size: 150%;
  text-shadow: 10px 10px 30px #000;
}

.canle {
  margin: auto;
  margin-top: 4%;
  border-radius: 5%;

}
.trongoc {
  border-radius: 5% ;
  width: 100%;
  height: 240px;
}
.canle :hover {
  opacity: 0.8;
}
.pad{

  margin: 10%;
}


.tieude {
  padding: 5rem;
}
/*---------------------*/
.stars {
  margin-top: 55%;
}
a.star {
  font-size: 24px;
  color: #f0f1f4;
  cursor: pointer;
  line-height: 1;
  transition: all 0.1s ease;
}
.fa-star {
  color: rgb(181, 181, 181) !important;
}
/*-----button top---*/
.fa-chevron-up {
  color: #343a40;
}
.btn-top {
  text-align: center;
  bottom: 20px;
  height: 50px;
  padding: 0;
  position: fixed;
  right: 20px;
  width: 50px;
  font-size: 40px;
}
/*--thợ chụp ảnh--*/
.bgimg{
     margin: auto;
}

.bgimg1{

  margin-top: 5%;
  margin-bottom: 4%;
  border-radius: 5%;
  width: 100%;
  
}
.bgphotographer{
  border-radius: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

/*----------------nội dung phần thể loại-------------*/
.text-theloai {
  margin-top: 10%;
  position: absolute;
  z-index: 10;
}
.khoangcach{
    padding: 50px;
}
.divtheloai{
  border-radius: 5% ;
}
.vitritext{
  text-align: left;
  font-size: 25px;
  color: white;
}
.vitribtn{
  margin: auto;
}
/*-------------demo hien thi thong tin khi hover-*/
.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}
.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}
.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}
.hover-noidung {
  position: relative;
  z-index: 99;
}
.hover-1 {
  color: #fff;
}
.hover-1 img {
  width: 105%;
  position: absolute;
  top: 0;
  left: -5%;
  transition: all 0.3s;
}
.hover-1-noidung {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: all 0.4s;
}
.hover-1 .hover-overlay {
  background: rgba(0, 0, 0, 0.5);
}
.hover-1-trichdan {
  transform: translateY(0.5rem);
  transition: all 0.4s;
  opacity: 0;
}
.w-100{
  object-fit: cover;
}

.hover-1:hover .hover-1-noidung {
  bottom: 2rem;
}
.hover-1:hover .hover-1-trichdan {
  opacity: 1;
  transform: none;
}
.hover-1:hover img {
  left: 0;
}
.hover-1:hover .hover-overlay {
  opacity: 0;
}
.side-1{
    position: relative;
    left: 70%;
}

.xxx{
	position: absolute;
}
